body {
	margin:0px;
	padding:0px;
	background-image: url('../ImagesAboutMe/intro.png') ;
	background-position:center;
	background-size:cover ;
	background-repeat:no-repeat;
	animation : mypic infinite 80s ;
	animation-iteration-count:1 ;
	
}

a 
{
	position:fixed ;
	bottom:25px;
	right:15px;
	font-size : 25px ;
	color : grey ;
	text-decoration:none;
	font-weight:bold ;
	border : 5px dashed black;
	padding:5px;
}
h1 {
	margin-left:30px;
	margin-top:480px;
	font-size : 65px;
	color: black;
}

span {
	padding-left:10px;
} 

span::before {
	
		content:'am Sara... !!' ;
		animation : myanimate infinite 80s;
		animation-iteration-count:1 ;
		color:red ;
}

@keyframes myanimate
{
	5%
	{
		content: 'am Sara... !!' ;		
	}
	
	
	15%
	{
		content: 'am an Enthusiastic Learner !!' ;
	}
	
	
	25%
	{
		content : 'am Passionate !!' ;
		color: red;
	}

	
	35%
	{
		content : 'am a Dreamer !!' ;
	}
	
	
	
	45%
	{
		content : 'Believe in trying..atleast giving a shot!' ;
	}

	55%
	{
		content : 'Love Donuts :D  ' ;
	}
	
	65%
	{
		content : 'Love Donuts ..a lot :P ' ;
	}
	
	75%
	{
		content : 'Believe in overcoming fear !!' ;
		color: #384dc4 ;
	}
	
	85%
	{
		content : 'make Blunders too :P ' ;		
	}
	
	95%
	{
		content : 'am a Popcorn Lover !!' ;
	}
	
	100%
	{
		content : 'Love to be Happy :)' ;
		color: gray ;
	}
}

@keyframes mypic 
{
	5%
	{
		background-image: url('../ImagesAboutMe/intro.png') ;
	}
	
	7%
	{
		background-image : url('../ImagesAboutMe/blank.png')  ;
	}
	
	15%
	{
		background-image: url('../ImagesAboutMe/1.learner.png') ;
	}
	
	17%
	{
		background-image : url('../ImagesAboutMe/blank.png');
	}
	
	25%
	{
		background-image: url('../ImagesAboutMe/2.passion.png') ;
	}
	
	27%
	{
		background-image : url('../ImagesAboutMe/blank.png');
	}
	
	35%
	{
		background-image: url('../ImagesAboutMe/3.dreamer.png') ;
	}
	
	37%
	{
		background-image : url('../ImagesAboutMe/blank.png');
	}
	
	45%
	{
		background-image: url('../ImagesAboutMe/4.try.png') ;
	}	
	
	47%
	{
		background-image : url('../ImagesAboutMe/blank.png');
	}
	
	55%
	{
		background-image: url('../ImagesAboutMe/5.donut1.png') ; 
	}
	
	57%
	{
		background-image : url('../ImagesAboutMe/blank.png');
	}
	
	65%
	{
		background-image: url('../ImagesAboutMe/5.donut2.png') ; 		
	}
	
	67%
	{
		background-image : url('../ImagesAboutMe/blank.png');
	}
	
	75%
	{
		background-image: url('../ImagesAboutMe/6.overcomeFears.png') ;		
	}
	
	77%
	{
		background-image : url('../ImagesAboutMe/blank.png');
	}
	
	85%
	{
		background-image: url('../ImagesAboutMe/7.blunder.png') ; 	
	}
	
	87%
	{
		background-image : url('../ImagesAboutMe/blank.png');
	}
	
	95%
	{
		background-image: url('../ImagesAboutMe/9.popcorn.png') ; 	
	}
	
	96%
	{
		background-image : url('../ImagesAboutMe/blank.png');
	}
	
	100%
	{
		background-image: url('../ImagesAboutMe/10.happy.png') ; 	
	}
	
}
