body {
	margin:0px;
	padding:0px;
	background: pink ;
}


h1 {
	margin: 100px 0 0 350px ;
	font-size : 80px;
	color: white;
}

span {
	padding-left:10px;
}
span:before {
		content : 'Am Sara' ;
		animation : myanimate infinite 30s;
		animation-iteration-count:1 ;

}

@keyframes myanimate
{
	10%
	{
		content: 'Am Sara' ;
	}
	
	20%
	{
		content: 'Am An Enthusiastic Learner' ;
	}
	
	30%
	{
		content : 'Am Passionate' ;
	}
	
	40%
	{
		content : 'Am A Dreamer' ;
	}
	
	50%
	{
		content : 'Believe in Trying ...(Atleast giving a shot!)' ;
	}
	60%
	{
		content : 'Love Donuts :D  ' ;
	}
	
	70%
	{
		content : 'Believe in overcoming fear' ;
	}
	
	80%
	{
		content : 'make blunders too :P ' ;
	}
	
	90%
	{
		content : 'Love PopCorn :D ...A LOT' ;
	}
	
	100%
	{
		content : 'Love To Be Happy :)' ;
	}
}